$font_family: "Paul";
$display_font_family: "NHaasGrotesk";
$detail_font_family: 'Paul', 'Open Sans', sans-serif;

$base_font: 16px;
$normal_font: 18px;
$normal_line_height: 48px;
$medium_font: 21px;
$large_font: 24px;
$large_line_height: 34px;
$larger_font: 26px;
$larger_line_height: 48px;

// z-indexes
$z-index-base: 1;
$z-index-just-a-touch: 2;

// colors
$white: #fff;
$almost_black: #111;
$charcoal: #333;
$gray_medium: #777;
$gray: #aaa9a9;
$soft_gray: #ccc;
$barrier_color: #ccc;
$light_gray: #eee;
$lightest_gray: #f4f4f4;
$red: #f56851;
$light_red: #fff8f7;
$light_green: #eafff8;
$turquoise: #89daf2;
$aquamarine: aquamarine;
$aqua_small: #4ed5a8;
$light-aquamarine: #b8ffe7;
$light_yellow: #ffffef;
$coral: coral;

