.Note {
  padding: 2rem 1rem;
  max-width: 767px;
  margin: 0 auto;

  @include desktop {
    padding: 2rem;
  }

  &-heading {
    @include note_heading_font;
  }

  &-headingMeta {
    color: $soft_gray;
    font-size: $normal_font;
    font-weight: 300;
    font-family: $font_family;
    line-height: $larger_line_height;
    display: inline-block;
    vertical-align: middle;
  }

  &-body {
    ul {
      @include note_ul;
    }

    ul > li:first-child {
      margin-top: 0;
    }

    ul > li {
      list-style-position: outside;
      margin-top: 0.7rem;
      margin-left: 10px;

      @include desktop {
        margin-left: 20px;
      }
    }

    p {
      @include note_body_font;
    }

    a {
      color: $red;
      text-decoration: none;
    }

    h2 {
      margin: 3rem 0 1rem;
      font-size: $medium_font;
      font-family: $display_font_family;
      font-weight: 300;
    }

    h3, h4, h5, h6 {
      margin-top: 2rem;
    }
  }

  &-admin {
    @include note_ul;
    background-color: $aquamarine;
    margin: 4rem 0 2rem;
    padding: 2em 1em;

    li {
      color: $almost_black;
    }
  }

  &-adminLink {
    text-decoration: none;
    color: $almost_black;
  }
}
