@include open_menu(".Stage");

.Stage {
  margin: 0;
  transition: transform $base_transition_duration $ease_in_out_quad;

  &-wrap {
    margin: 4rem auto 2rem;
    width: 100%;
    box-sizing: border-box;
    background-color: $white;
    padding: 1rem;
    max-width: 920px;
    position: relative;
    top: 10px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.06);

    @include desktop {
      width: 85%;
    }

    &:empty {
      display: none;
    }
  }
  
  &-conform {
    padding: 1rem 1rem 0;
  }

  &-content {
    padding: 1rem;
  }
}
